@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/Orbitron-Regular.woff2') format('woff2'),
        url('/fonts/Orbitron-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: 'Digital-7';
    src: url("/fonts/Digital-7.woff2") format("woff2"), url("/fonts/Digital-7.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
body{
    display: flex;
    flex-direction: column;
    background-color: #FF4848;
    min-height: 100vh;
}
.modal-wrapper{
    background-color: red;
    position: fixed;
    display: none;
    width: 30%;
    height: 100%;
    overflow: auto;
}
.modal{
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    justify-content: flex-end;
    align-items: flex-end;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    z-index: 3;
}
.button{
    display: flex;
    max-height: 100vh;
    justify-content: flex-end;
    background-color: transparent;
    width: 130px;
    height: 108px;
    border: none;
    position: absolute;
    margin-top: 130px;
    margin-left: -850px;
    margin-bottom: -30px;
}
.h_3{
    font-family: 'Orbitron';
    background-color: gold;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: center;
    width: 99%;
    height: 50px;
    font-size: 45px;
    color: red;
    border: 3px solid blue;
}
.btn{
    font-family: 'Orbitron';
    position: absolute;
    width: 60px;
    height: 55px;
    border: none;
    background-color: blue;
    color: red;
    font-size: 40px;
}
.iconn{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -100px;
    margin-top: -78px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: center;
}
.logo{
    width: 500px;
    margin-bottom: -100px;
    margin-top: 30px;
}
img{
    max-width: 100%;
    width: 200px;
    height: 200px;
}
.header__title{
    text-align: center;
}
.header__title-orange{
    padding: 3px;
    border-radius: 4px;
    margin-left: 5px;
}
.main{
    flex-grow: 1;
    margin-top: 100px;
}
.films__card-wrapper{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
}
.films__genre-list{
    list-style-type: none;
    margin:15px 0px 15px 0px;
    padding: 0;
}
.films__card{
    font-family: 'Orbitron';
    width: 250px;
    padding: 15px 10px;
    border-radius: 7px;
    height: 100%;
    background: gold;
    transition: .3s ease all;
    margin-bottom: 30px;
    color: red;
    text-align: center;
    height: 370px;
    font-size: 16px;
}
.films__filter-wrapper{
    display: flex;
}
.films__card:nth-child(4n){
    margin-right: 0;
}
.films__card:hover{
    box-shadow: 0 10px 30px orange, 0 6px 12px gold;
}
.form{
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 7px;
}
.films__select{
    margin-right: 25px;
}
.input{
    font-family: 'Orbitron';
    outline: none;
    box-sizing: border-box;
    padding: 10px 7px;
    margin-top: 10px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background: gold;
    text-align: center;
    color: red;
    font-size: 24px;
}
.input::placeholder{
    color: red;
}
.footer{
    background: gold;
}
.footer__copyright{
    font-family: 'Orbitron';
    font-size: 32px;
    text-align: center;
    color: red;
}
.films__btn-header{
    font-family: 'Orbitron';
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background: gold;
    font-weight: 600;
    color: red; 
    font-size: 24px;
}
@media screen and (max-width: 600px) {
    .films__card{
        margin-left: 50px;
    }
}
.films__card-genre{
    margin-top: -15px;
}
.films__card-title{
    width: 100%;
    margin-top: 8px;
    border-top: 2px solid blue;
}
.btn-icon{
    position: absolute;
    margin-left: 180px;
    width: 30px;
    height: 28px;
    border: none;
    background-color: transparent;
}
 .fa-regular{
    color: red;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    z-index: 1;
    margin-top: -5px;
    position: absolute;
}
.pokemons__card{
    margin-left: 150px;
    list-style-type: none;
    font-family: 'Orbitron';
    width: 250px;
    padding: 15px 10px;
    border-radius: 7px;
    height: 100%;
    background: gold;
    transition: .3s ease all;
    margin-bottom: 30px;
    color: red;
    text-align: center;
    height: 370px;
    font-size: 16px;
    margin-top: 30px;
}
.pokemons__card:hover{
    box-shadow: 0 10px 30px orange, 0 6px 12px gold;
}
.btn-vedro{
    position: absolute;
    margin-left: 200px;
    width: 30px;
    height: 28px;
    border: none;
    background-color: transparent;
}
li{
    list-style-type: none;
}
.modal-wrapper-inner{
    padding-top: 50px;
    padding-left: 80px;
}
.delete_btn{
    position: absolute;
    height: 38px;
    border: none;
    margin-left: 65px;
    margin-top: -60px;
    background-color: transparent;
}
.fa-solid{
    color: red;
}